{% extends "layout.html" %}
{% block sidebar %}
    {% if not id %}
        <p class="text-error">Please choose a phone!</p>
    {% else %}
        <p class="text-error">
            We have {{ coordinates|length }} values for this phone!
        </p>
    {% endif %}

    <ul class="nav nav-tabs nav-stacked">
        {% for user in user_list %}
            
            <li {% if id == user.id %} class="active" {% endif %}>
                <a href="/show/{{ user.id }}">
                    {{ user.name }}: {{ user.phone }}
                    <button class="btn btn-mini btn-danger pull-right"
                            onclick="window.location = '/delete/{{ user.id }}'; return false" >
                        x
                    </button>
                </a>
            </li>
        {% endfor %}
    </ul>

    <h4>Add new Phone:</h4>

    <form method='post' class='form-horizontal' target='/'>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Add" class="btn btn-primary" />
    </form>
{% endblock %}

{% block map %}
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCir5cI2gZvpKz5aEOtfh7QSmqvtVPhK_w&sensor=false">
    </script>
    <script>
function initialize() {
  var myLatLng = new google.maps.LatLng(34.5333, 69.1667);
  var mapOptions = {
    zoom: 12,
    center: myLatLng,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };

  var map = new google.maps.Map(document.getElementById("map"),
      mapOptions);
  var gpsCoordinates = [
    {% for coordinate in coordinates %}
        new google.maps.LatLng(coordinate.latitude, coordinate.longitude),
    {% endfor %}
    //new google.maps.LatLng(37.772323, -122.214897),
    //new google.maps.LatLng(21.291982, -157.821856),
    //new google.maps.LatLng(-18.142599, 178.431),
    //new google.maps.LatLng(-27.46758, 153.027892)
  ];
  var flightPath = new google.maps.Polyline({
    path: gpsCoordinates,
    strokeColor: "#FF0000",
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  flightPath.setMap(map);
}
    </script>
{% endblock %}
